<footer class="bg-green-700 text-white p-4 mt-8">
        <div class="container mx-auto">
            <div class="flex justify-center mb-4">
                <div class="bg-white p-2 w-3/5 rounded-lg shadow-md flex justify-center">
                    <a class='logo' href="https://www.province-nord.nc/" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="pn" src="{{ depth }}files/pn_100.png"></figure>
                    </a>
                    <a class='logo' href="https://www.province-sud.nc/" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="ps" src="{{ depth }}files/ps_100.png"></figure>
                    </a>
                    <a class='logo' href="https://amap.cirad.fr/" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="amap" src="{{ depth }}files/amap_100.png"></figure>
                    </a>
                    <a class='logo' href="http://publish.plantnet-project.org/project/nou" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="herbarium" src="{{ depth }}files/herbarium_100.png"></figure>
                    </a>
                    <a class='logo' href="https://iac.nc/" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="iac" src="{{ depth }}files/iac_100.png"></figure>
                    </a>
                    <a class='logo' href="https://nouvelle-caledonie.ird.fr/" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="ird" src="{{ depth }}files/ird_100.png"></figure>
                    </a>
                    <a class='logo' href="https://cirad.fr/" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="cirad" src="{{ depth }}files/cirad_100.png"></figure>
                    </a>
                    <a class='logo' href="https://www.ofb.gouv.fr/" target="_blank">
                        <figure class="mx-2"><img class="img-fluid" id="ofb" src="{{ depth }}files/ofb_100.png"></figure>
                    </a>
                </div>
            </div>
            <div class="text-center">
                <p>Niamoto - Portail de la forêt de Nouvelle-Calédonie</p>
                <a class="inline-block py-2 px-4 text-white no-underline" href="https://github.com/niamoto/niamoto" target="_blank">
                    <span class="fab fa-github fa-lg" aria-hidden="true"></span> Github
                </a>
            </div>
        </div>
    </footer>