<footer class="bg-green-700 text-white p-4 mt-8">
        <div class="container mx-auto">
            <div class="flex justify-center mb-4">
                <div class="bg-white p-2 rounded-lg shadow-md flex justify-center">
                    <figure class="mx-2"><img class="img-fluid" src="{{ depth }}files/ps_100.png"></figure>
                    <figure class="mx-2"><img class="img-fluid" src="{{ depth }}files/pn_100.png"></figure>
                    <figure class="mx-2"><img class="img-fluid" src="{{ depth }}files/amap_100.png"></figure>
                    <figure class="mx-2"><img class="img-fluid" src="{{ depth }}files/herbarium_100.png"></figure>
                    <figure class="mx-2"><img class="img-fluid" src="{{ depth }}files/iac_100.png"></figure>
                    <figure class="mx-2"><img class="img-fluid" src="{{ depth }}files/ird_100.png"></figure>
                    <figure class="mx-2"><img class="img-fluid" src="{{ depth }}files/cirad_100.png"></figure>
                </div>
            </div>
            <div class="text-center">
                <p>Niamoto - Portail de la forêt de Nouvelle-Calédonie</p>
                <a class="inline-block py-2 px-4 text-white no-underline" href="https://github.com/niamoto/niamoto" target="_blank">
                    <span class="fab fa-github fa-lg" aria-hidden="true"></span> Github
                </a>
            </div>
        </div>
    </footer>