<nav class="nav-bg p-4 fixed w-full top-0 shadow-md z-50 custom-nav">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a id="home-link" class="inline-flex items-center py-2 px-4 text-white no-underline" href="#">
                <span class="site-title">Niamoto</span>
            </a>
        </div>

        <div class="block lg:hidden">
            <button id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0zm0 6h20v2H0zm0 6h20v2H0z" />
                </svg>
            </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="relative group mr-3">
                    <a class="nav-link inline-block py-2 px-4 text-white no-underline" href="#" data-link="index.html">
                        <i class="fas fa-home menu-icon"></i>Accueil
                    </a>
                    <ul class="absolute hidden text-gray-700 pt-1 group-hover:block bg-white shadow-lg rounded-md z-50 w-48 custom-dropdown">
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="index.html#introduction">Introduction</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="index.html#project">Projet</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="index.html#objective">Objectifs</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="index.html#context">Contexte</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="index.html#flora">Flore</a></li>
                    </ul>
                </li>
                <li class="relative group mr-3">
                    <a class="nav-link inline-block py-2 px-4 text-white no-underline" href="#" data-link="methodology.html">
                        <i class="fas fa-flask menu-icon"></i>Méthodologie
                    </a>
                    <ul class="absolute hidden text-gray-700 pt-1 group-hover:block bg-white shadow-lg rounded-md z-50 w-48 custom-dropdown">
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="methodology.html#preambule">Préambule</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="methodology.html#methodes">Nos méthodes</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="methodology.html#faq">FAQ</a></li>
                    </ul>
                </li>
                <li class="relative group mr-3">
                    <a class="nav-link inline-block py-2 px-4 text-white no-underline" href="#" data-link="taxon/1.html">
                        <i class="fas fa-leaf menu-icon"></i>Arbres
                    </a>
                    <ul class="absolute hidden text-gray-700 pt-1 group-hover:block bg-white shadow-lg rounded-md z-50 w-48 custom-dropdown">
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#preambule">Préambule</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#learnTaxon">Étudier les
                arbres</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#taxon">Les arbres de
                Nouvelle-Calédonie</a></li>
                    </ul>
                </li>
                <li class="relative group mr-3">
                    <a class="nav-link inline-block py-2 px-4 text-white no-underline" href="#" data-link="plot/1.html">
                        <i class="fas fa-map-marked-alt menu-icon"></i>Peuplements
                    </a>
                    <ul class="absolute hidden text-gray-700 pt-1 group-hover:block bg-white shadow-lg rounded-md z-50 w-48 custom-dropdown">
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#preambule">Préambule</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#learnPlot">Étudier les
                            peuplements forestiers</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#plot">Les
                peuplements forestiers de Nouvelle-Calédonie</a></li>
                    </ul>
                </li>
                <li class="relative group mr-3">
                    <a class="nav-link inline-block py-2 px-4 text-white no-underline" href="#" data-link="construction.html">
                        <i class="fas fa-tree menu-icon"></i>Forêt
                    </a>
                    <ul class="absolute hidden text-gray-700 pt-1 group-hover:block bg-white shadow-lg rounded-md z-50 w-48 custom-dropdown">
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#preambule">Préambule</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#learnForest">Étudier les
                forêts</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#forestPN">La forêt de la
                province Nord</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="construction.html#forestPN">La forêt de la
                province Sud</a></li>
                    </ul>
                </li>
                <li class="relative group mr-3">
                    <a class="nav-link inline-block py-2 px-4 text-white no-underline" href="#" data-link="resources.html">
                        <i class="fas fa-book menu-icon"></i>Ressources
                    </a>
                    <ul class="absolute hidden text-gray-700 pt-1 group-hover:block bg-white shadow-lg rounded-md z-50 w-48 custom-dropdown">
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="resources.html#equipe">L'équipe</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="resources.html#article">Articles</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="resources.html#academic">Académique</a></li>
                        <li><a class="py-2 px-4 block whitespace-no-wrap hover:bg-gray-100" href="#" data-link="resources.html#media-production">Médias</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
  document.getElementById('nav-toggle').onclick = function () {
    document.getElementById('nav-content').classList.toggle('hidden');
  };

  // Function to adjust the navigation links based on page depth
  function adjustNavLinks(depth) {
    document.querySelectorAll('a[data-link]').forEach(link => {
      link.href = depth + link.getAttribute('data-link');
    });
  }

  // Adjust the navigation links based on the depth
  adjustNavLinks("{{ depth }}");
</script>

<style>
    .site-title {
        font-family: 'Arial Black', sans-serif; /* Custom font for a bold effect */
        font-size: 2rem; /* Increased font size */
        text-transform: uppercase; /* Uppercase letters for visibility */
        letter-spacing: 2px; /* Spacing between letters */
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Text shadow for better visibility */
        transition: color 0.3s; /* Smooth transition for hover effect */
    }

    .site-title:hover {
        color: #ffdd57; /* Change color on hover */
    }

    .text-contour {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .nav-bg {
        background-color: rgba(34, 139, 34, 0.8); /* Fond vert semi-transparent */
        transition: background-color 0.3s;
    }

    .nav-bg:hover {
        background-color: rgba(34, 139, 34, 1); /* Fond vert opaque au survol */
    }

    .group:hover .group-hover\:block {
        display: block;
    }

    .custom-nav {
        z-index: 500;
    }

    .custom-dropdown {
        z-index: 500;
    }

    .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.2); /* Fond blanc transparent au survol */
        border-radius: 4px;
    }

    .menu-icon {
        margin-right: 8px;
    }
</style>
