{% extends '_base.html' %}

{% block title %}Niamoto - Présentation de la forêt{% endblock %}

{% block extra_head %}
    <style>
        .custom-button:hover {
            background-color: #e2e8f0; /* Tailwind gray-200 hover color */
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mx-auto mt-20 py-4 max-w-4xl">
    <div class="text-center mb-12 mt-10">
        <h1 class="text-4xl font-bold text-green-800">Présentation de la forêt</h1>
    </div>

    <section class="mb-12">
        <div class="flex justify-center mb-8">
            <a href="{{ depth }}shape/1.html" class="bg-blue-500 text-white py-3 px-6 rounded-lg shadow-lg hover:bg-blue-700">
                Accéder aux données <span class="ml-2 badge badge-secondary"><span class="fa fa-database" aria-hidden="true"></span></span>
            </a>
        </div>
    </section>

    <section id="preambule" class="mb-12">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2 class="text-3xl font-semibold mb-6 text-green-700 border-b-2 border-green-500 pb-2">Préambule</h2>
                    <p class="text-gray-700 leading-relaxed mb-4"><strong>La forêt est un concept universel qui ne repose sur aucune définition universelle car il dépend avant tout de la perception de chacun et du biome considéré. Selon la FAO, la forêt est un espace recouvert à plus de 10 % par des arbres sur une surface minimale de 0.5 hectare.</strong></p>
                    <p class="text-gray-700 leading-relaxed mb-4">La forêt est une entité dynamique qui grandit, meurt et se régénère. Cette dynamique s’inscrit dans un cycle naturel nommé <strong>le cycle sylvigénétique</strong> qui garantit une capacité élevée de résilience de cet écosystème vis-à-vis de la variation des conditions de l’environnement.</p>
                    <p class="text-gray-700 leading-relaxed mb-4">En Nouvelle-Calédonie la forêt a subi 150 ans de pression diverses liées aux activités humaines telles que l’exploitation forestière, l’industrie nickélifère, l’urbanisation, les feux et les invasions biologiques. Ces activités ont entrainé une diminution, une dégradation et une fragmentation de la forêt qui se poursuit activement de nos jours.</p>
                    <figure class="mb-6 flex justify-center">
                        <img class="img-fluid rounded shadow-md" id="landscape" src="{{ depth }}files/shape/img/landscape.png" alt="Landscape Image">
                    </figure>
                    <p class="text-gray-700 leading-relaxed mb-4">La forêt est un écosystème indivisible dans le temps comme dans l’espace. La forêt n’est ni pauvre ni riche. Elle évolue en suivant la succession écologique depuis la forêt secondaire contenant de nombreux jeunes arbres appartenant à peu d’espèces jusqu’à la forêt mature contenant peu d’arbres et beaucoup d’espèces. La forêt n’est ni sèche ni humide. Elle couvre une large gamme de milieux de vie, depuis les milieux secs jusqu’aux milieux humides.</p>
                    <p class="text-gray-700 leading-relaxed mb-4">Dans ce travail la forêt est considérée comme la végétation constituée d’arbres (> 5 m) qui forment une canopée continue ne permettant pas de distinguer le sol. Tous les motifs de la canopée sont réunis dans le terme général de forêt sans distinguer la composition floristique, en premier lieu car la canopée ne contient qu’une faible portion des arbres et secondairement car nous ne disposons pas des informations floristiques sur l’ensemble de la province. L’objet de cette étude est donc la forêt, dans son entièreté sans distinguer ses composantes.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="learnForest" class="mb-12">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2 class="text-3xl font-semibold mb-6 text-green-700 border-b-2 border-green-500 pb-2">Étudier la forêt</h2>
                    <p class="text-gray-700 leading-relaxed mb-4">L’étude de la forêt en tant qu’écosystème indivisible s’appuie sur les méthodes de cartographie, semi-automatisées et manuelles entrecoupées de plusieurs phases de validation. Pour aboutir à une carte de la forêt, notre travail s’est appuyé sur les données cartographiques antérieures, issues de photo-interprétation et/ou d’analyses radiométriques d’images satellitaires.</p>
                    <figure class="mb-6 flex justify-center">
                        <img class="img-fluid rounded shadow-md" id="map_holdridge" src="{{ depth }}files/shape/img/map_holdridge.png" alt="Holdridge Map">
                    </figure>
                    <p class="text-gray-700 leading-relaxed mb-4">Cette compilation a permis de construire un support cartographique à partir duquel nous avons entrepris la digitalisation par photo-interprétation de chaque polygone à l’échelle de 1:3000, le contrôle de la topologie, l’uniformisation des fusions, de la fragmentation ou encore sa validation par des jeux de données externes. La carte contient 5 953 polygones de forêt en province Nord pour un total de 6 533 718 points géo-référencés selon le système géodésique universel WGS84 (ESPG:4326).</p>
                    <p class="text-gray-700 leading-relaxed mb-4">Toutes les analyses liées à la forêt portent sur cette carte de la forêt de la province Nord. Les limites (commune, forêt, substrat, milieux de vie, classe altitudinale, aires de conservation, périmètre de protection éloigné des eaux (PPE), concessions minières) sont géographiquement croisées entre elles et la superficie de leur intersection définit leur interaction. La couverture forestière correspond au ratio entre la superficie occupée par la forêt et la superficie occupée par une autre limite (e.g. commune, substrat, milieux de vie, classe altitudinale). Cet indicateur est utilisé en complément de la superficie. Par exemple, la forêt occupe 320 200 ha des 941 252 ha de la province Nord, ce qui représente une couverture forestière de 34 %.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="forestPN" class="mb-12">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2 class="text-3xl font-semibold mb-6 text-green-700 border-b-2 border-green-500 pb-2">La forêt de la province Nord</h2>
                    <p class="text-gray-700 leading-relaxed mb-4">La forêt de la province Nord couvre une superficie de 320 200 ha répartis principalement le long des montagnes qui forment la chaine centrale depuis le Mont Canala au sud dans la commune du même nom jusqu’au Mont Mandjela situé nord de la commune de Pouébo. La couverture forestière provinciale est de 34 %. Elle est plus importante sur les substrats non-ultramafiques (37 %) que sur les substrats ultramafiques (23 %).</p>
                    <figure class="mb-6 flex justify-center">
                        <img class="img-fluid rounded shadow-md" id="map_fragmentation" src="{{ depth }}files/shape/img/map_fragmentation.png" alt="Fragmentation Map">
                    </figure>
                    <p class="text-gray-700 leading-relaxed mb-4">La forêt de la province Nord est très fragmentée avec 5 953 fragments de forêt et une taille effective de maillage de 156 km². En moyenne la forêt est constituée par des fragments forestiers ayant une superficie de 53.8 ha. Cependant cinq fragments ont une superficie supérieure à 10 000 ha et représentent à eux seuls plus des trois quarts de la forêt de la province, tandis que les autres fragments forment le quart restant de la forêt.</p>
                    <p class="text-gray-700 leading-relaxed mb-4">La couverture forestière se densifie en altitude. Alors que plus de 60 % de la superficie de la province Nord se situe à moins de 300 m d’altitude, cette tranche altitudinale ne contient pourtant que 34 % de la forêt. Au contraire, bien que la superficie disponible au-delà de 800 m ne représente que 0.3 % de la province, la forêt de cette classe altitudinale représente plus de 12 % de la forêt provinciale.</p>
                    <div class="bullet next">
                        <ul class="list-disc pl-5 mb-4">
                            <li>Quatre communes (Hienghène, Houailou, Ponérihouen et Poindimié) hébergent 56 % de la forêt de la province alors que Bélep est la commune la moins forestière avec moins de 900 ha de forêt soit à peine 0.3 % de la forêt provinciale.</li>
                            <li>Quatre communes (Poya Nord, Houaïlou, Poindimié et Pouembout) hébergent 57 % de la forêt ultramafique de la province.</li>
                            <li>Alors que le milieu sec représente 1/4 de la province, la forêt sèche représente seulement 23 500 ha, soit 7 % de la forêt provinciale. Trois communes (Kaala Gomen, Poya Nord, Pouembout) hébergent près de 56 % de cette forêt sèche tandis que cinq communes (Kouaoua, Poindimié, Ponérihouen, Pouébo, Touho) en sont dépourvues.</li>
                            <li>La forêt humide domine, avec 206 000 ha, soit 65 % de la forêt provinciale. Trois communes (Houailou, Ponérihouen et Hienghène) hébergent près de 50 % de cette forêt humide qui se rencontre dans toutes les autres communes.</li>
                            <li>La forêt très humide couvre une superficie de 90 600 ha, soit 28 % de la forêt provinciale. Deux communes (Hienghène et Poindimié) hébergent à elles-seules plus de 52 % de cette forêt très humide tandis que deux communes (Poum et Koumac) en sont exemptes.</li>
                            <li>La classe de la forêt secondaire représente 135 188 ha (42 % de la forêt), la forêt mature représente 146 677 ha (46 % de la forêt) et la forêt de cœur représente 38 332 ha (12 % de la forêt).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
