affine==2.4.0
alabaster==1.0.0
alembic==1.14.1
annotated-types==0.7.0
anywidget==0.9.13
asttokens==3.0.0
attrs==25.1.0
babel==2.17.0
beautifulsoup4==4.13.3
blinker==1.9.0
bqplot==0.12.44
branca==0.8.1
bump2version==1.0.1
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colour==0.1.5
comm==0.2.2
contourpy==1.3.1
coverage==7.6.10
cycler==0.12.1
decorator==5.1.1
distlib==0.3.9
docutils==0.21.2
duckdb==1.1.3
executing==2.2.0
filelock==3.17.0
fiona==1.10.1
flask==3.1.0
folium==0.19.4
fonttools==4.55.8
furo==2024.8.6
gdown==5.2.0
geoalchemy2==0.17.0
geojson==3.2.0
geopandas==1.0.1
hypothesis==6.125.1
identify==2.6.6
idna==3.10
imagesize==1.4.1
iniconfig==2.0.0
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.32.0
ipytree==0.2.2
ipyvue==1.11.2
ipyvuetify==1.10.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-leaflet==0.19.2
jupyterlab-widgets==3.0.13
kiwisolver==1.4.8
leafmap==0.42.9
loguru==0.7.3
mako==1.3.9
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mypy==1.14.1
mypy-extensions==1.0.0
myst-parser==4.0.0
narwhals==1.25.0
nodeenv==1.9.1
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.3.241126
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
pockets==0.9.1
pre-commit==4.1.0
prompt-toolkit==3.0.50
psutil==6.1.1
psygnal==0.12.0
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==19.0.0
pydantic==2.10.6
pydantic-core==2.27.2
pygments==2.19.1
pyogrio==0.10.0
pyparsing==3.2.1
pyperclip==1.9.0
pyproj==3.7.0
pyshp==2.3.1
pysocks==1.7.1
pystac==1.12.1
pystac-client==0.8.5
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-stub==1.1.0
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.1
pyyaml==6.0.2
rasterio==1.4.3
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rjsmin==1.2.3
rpds-py==0.22.3
rtree==1.3.0
ruff==0.9.4
scooby==0.10.0
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
sphinx==8.1.3
sphinx-basic-ng==1.0.0b2
sphinx-markdown-builder==0.6.8
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlalchemy==2.0.37
stack-data==0.6.3
tabulate==0.9.0
topojson==1.9
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
types-click==7.1.8
types-pluggy==1.2.0.20240106
types-pytz==2025.1.0.20250204
types-pyyaml==6.0.12.20241230
types-shapely==2.0.0.20250202
types-tabulate==0.9.0.20241207
typing-extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.1
wcwidth==0.2.13
werkzeug==3.1.3
whitebox==2.3.5
whiteboxgui==2.3.0
widgetsnbextension==4.0.13
xyzservices==2025.1.0
