<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niamoto - {{ taxon.full_name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js library for charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.6.1/justgage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
    <script src="../../js/index.js"></script>
    <script src="../../js/taxonomy_tree.js"></script>
    

    <style>
        .gauge {
            height: 349px;
        }
        ul {
            list-style-type: none;
        }

        li {
            margin-left: 20px;
        }
        #taxonMap {
            position: relative;
            height: 400px;
        }

        .loader-container {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%;
            height: 100%; 
            background: rgba(255, 255, 255, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .loader {
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <div class="flex">
        <!-- Container for the taxonomic tree -->
        <div id="taxonomy-tree" class="w-1/4 p-4">
            <!-- The taxonomic tree will be loaded here -->
        </div>
        <!-- Container for the existing content -->
        <div class="w-3/4">
            <div class="rounded overflow-hidden shadow-lg mb-2">
                <div class="px-6 py-4">
                    <div class="font-bold text-4xl mb-2">{{ taxon.full_name }}</div>
                    <p class="text-gray-700 text-base">
                        Rank: {{ taxon.rank_name }}
                    </p>
                    <p class="text-gray-700 text-base">
                        Total number of occurrences: {{ taxon.occ_count }}
                    </p>
                    <p class="text-gray-700 text-base">
                        Number of UM occurrences: {{ taxon.occ_um_count }}
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <div id="taxonMap" style="height: 400px; position: relative;">
                        <div id="mapLoader" class="loader-container">
                            <div class="loader"></div>
                        </div>
                        <!-- The Leaflet map will be loaded here -->
                    </div>
                </div>
            </div>
            
            
            <!-- Display charts for frequencies -->
            <div class="flex flex-wrap -mx-2">
            
                <!-- Phenology chart -->
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Phenology</h2>
                        <canvas id="phenoChart"></canvas>
                    </div>
                </div>
            
                <!-- DBH chart -->
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Diameter distribution (DBH)</h2>
                        <canvas id="dbhChart"></canvas>
                    </div>
                </div>
            
                <!-- Elevation chart -->
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Altitudinal distribution</h2>
                        <canvas id="elevationChart"></canvas>
                    </div>
                </div>
            
                <!-- Rainfall chart -->
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Rainfall distribution</h2>
                        <canvas id="rainfallChart"></canvas>
                    </div>
                </div>
            
                <!-- Habitat sector chart -->
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Habitat sector</h2>
                        <canvas id="milieuVieChart"></canvas>
                    </div>
                </div>
            
                <!-- Substrate chart -->
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Stratification</h2>
                        <canvas id="strateChart"></canvas>
                    </div>
                </div>

                <!-- Substrate distribution chart -->
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Substrate distribution</h2>
                        <div class="gauge flex items-center justify-center">
                            <canvas id="distributionSubstratChart"></canvas>
                        </div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Maximum height</h2>
                        <div id="heightMaxGauge" class="gauge"></div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Maximum diameter (DBH)</h2>
                        <div id="dbhMaxGauge" class="gauge"></div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Geographic distribution</h2>
                        <div id="distributionGeoGauge" class="gauge"></div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Wood density</h2>
                        <div id="woodDensityAvgGauge" class="gauge"></div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Leaf thickness</h2>
                        <div id="leafThicknessAvgGauge" class="gauge"></div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Specific leaf area</h2>
                        <div id="leafSlaAvgGauge" class="gauge"></div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Leaf area</h2>
                        <div id="leafAreaAvgGauge" class="gauge"></div>
                    </div>
                </div>
            
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Leaf dry matter content</h2>
                        <div id="leafLdmcAvgGauge" class="gauge"></div>
                    </div>
                </div>
            
                <div class="w-1/2 px-2 mb-4">
                    <div class="rounded overflow-hidden shadow-lg p-4 bg-white">
                        <h2 class="font-bold text-xl mb-2">Bark thickness</h2>
                        <div id="barkThicknessAvgGauge" class="gauge"></div>
                    </div>
                </div>
            
                <!-- Add more charts here following the same pattern -->
            </div>
        </div>
    </div>
    
        

    <script>

        var taxon = {{ taxon | tojson | safe }};

        document.addEventListener('DOMContentLoaded', function() {

            const treeContainer = document.getElementById('taxonomy-tree');
            createTree(treeContainer, taxonomyData);
            loadCharts(taxon)
            setTimeout(initMap, 0.5);

        });

    </script>

</body>
</html>
