<footer class="bg-gray-800 text-white p-4 mt-8">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-sm tracking-tight">Niamoto - Portail de la forêt de Nouvelle-Calédonie en Province Nord</span>
        </div>
        <div class="flex items-center">
            <a class="inline-block py-2 px-4 text-white no-underline" href="https://github.com/niamoto/niamoto" target="_blank">
                <span class="fab fa-github fa-lg" aria-hidden="true"></span> Github
            </a>
        </div>
    </div>
</footer>
