<nav class="bg-gray-800 p-4 fixed w-full z-10 top-0 shadow-md">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">Niamoto</span>
        </div>
        <div class="block lg:hidden">
            <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0zm0 6h20v2H0zm0 6h20v2H0z" />
                </svg>
            </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-white no-underline" href="/">Accueil</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-white no-underline" href="./methodologie.html">Méthodologie</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-white no-underline" href="./taxon/1.html">Arbres</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-white no-underline" href="./plot/1.html">Peuplements</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-white no-underline" href="./shape/1.html">Forêt</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-white no-underline" href="./ressources.html">Ressources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
